{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Sobre nosotros</h1>
        </div>
 
        <div class="text-center"> 
            <h4>Misión</h4>
            <p>Tenemos el compromiso de ser una plataforma de apoyo con hábitos positivos, con el fin de mejorar la calidad de vida y salud de los jóvenes estudiantes como nuestros usuarios principales, pero dirigidos para todo público en general. Te preparamos para el futuro ayudando crear herramientas de por vida con rendimientos positivos tanto en tu salud mental como rendimiento académico. </p>

            <h4>visión</h4>
            
            <p>Liberar a las personas del procrastinar. Potenciando su mente a un estado organizativo que busca el elevar su aprendizaje a un nivel más proactivo y analítico.</p>

        </div>



    </div>
</div>
{% endblock content %}
