{% extends "base.html" %}
{% load static %}

{% block title %}About{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Misión y visión</h1></br>
        </div>

        <div class="text-center">
            <h3>Misión</h3>
            <p class="fst-italic">Tenemos el compromiso de ser una plataforma de apoyo con hábitos positivos, con el fin
                de mejorar la calidad de vida y salud de los jóvenes estudiantes como nuestros usuarios principales,
                pero dirigidos para todo público en general. Te preparamos para el futuro ayudando crear herramientas de
                por vida con rendimientos positivos tanto en tu salud mental como rendimiento académico. </p>
            </br>
            <h3>Visión</h3>

            <p class="fst-italic">Liberar a las personas del procrastinar. Potenciando su mente a un estado organizativo
                que busca el elevar su aprendizaje a un nivel más proactivo y analítico.</p>
            </br>
            <img src="{% static '\img\habitos.png' %}" width="1000" height="500">
        </div>



    </div>
</div>
{% endblock content %}