{% extends "base.html" %}


{% block title %} CRUD {% endblock %}
{% block content %}
{% load static %}

<body>
    <script type="text/javascript" src="{% static 'js/CRUD.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/crud.css' %}">
    <div class="container-lg">
        <h1>Todos los hábitos</h1>
        {% for habitos in object_list %}
            <ul>
                <li>ID: {{ habito.id }}</li>
                <li>Hábito: {{ habito.habito }}</li>
                <li>Dónde: {{ habito.donde }}</li>
                <li>Cantidad: {{ habito.cantidad }}</li>
            </ul>             
        {% endfor %}
    </div>
</body>
{% endblock %}