{% extends "base.html" %}
{% load static %}
<html lang="en">


<body>

  <main>
    {% block content %}
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static '\img\ca.jpg' %}" class="bd-placeholder-img" alt="" width="100%" height="100%">
          <div class="container">
            <div class="carousel-caption text-dark text-end">
              <h1>Bienvenido a HabitUps!</h1>
              <p>HabitUps tiene como objetivo mejorar la calidad de vida y salud mental de los usuarios.</p>
              <p><a class="btn btn-lg btn-primary" href="{% url 'register' %}">Registrate ahora</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static '\img\ru.jpg' %}" class="bd-placeholder-img" width="100%" height="100%"
            aria-hidden="true">

          <div class="container">
            <div class="carousel-caption text-dark">
              <h1>Por más salud mental.</h1>
              <p>¡No dejes para mañana lo que puedes hacer hoy!</p>
              <p><a class="btn btn-lg btn-primary" href="{% url 'about' %}">Conocenos más</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static '\img\cel.jpg' %}" class="bd-placeholder-img" width="100%" height="100%"
            aria-hidden="true">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguinte</span>
      </button>
    </div>

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img src="{% static '\img\compu_3.gif' %}" class="bd-placeholder-img rounded-circle" width="140" height="140">

          <h2 class="fw-normal">Matias Cavieres</h2>
          <p>El jefe jefecito "Toma tussi gasta la plata".</p>
          <p><a class="btn btn-secondary" href="{% url 'about' %}">Acerca de mi &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="{% static '\img\compu 2.gif' %}" class="bd-placeholder-img rounded-circle" width="140" height="140">

          <h2 class="fw-normal">Fernanda Herrera</h2>
          <p>Una terrible Señora muy complicada.
          </p>
          <p><a class="btn btn-secondary" href="{% url 'about' %}">Acerca de mi &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="{% static '\img\compu1.gif' %}" class="bd-placeholder-img rounded-circle" width="140" height="140">

          <h2 class="fw-normal">Rachel Huanaque</h2>
          <p>Harta de todo porque no funciona el codigo.</p>
          <p><a class="btn btn-secondary" href="{% url 'about' %}">Acerca de mi &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Corta por lo sano: <span class="text-muted">di adiós a la
              procrastinación!</span></h2>
          <p class="lead">Mediante la implementación de un trackeador de hábitos, que va a devolver información
            relevante de cada usuario, así permitirá ser base para estudios de investigación respecto a la salud mental.
            Está enfocada para el uso de estudiantes escolares, pero puede ser utilizada para cualquier rango de edad.
          </p>
        </div>
        <div class="col-md-5">
          <img src="{% static '\img\procrastinacion.png' %}"
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
            height="500">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Definamos que es la <span
              class="text-muted">Procastinación</span>
          </h2>
          <p class="lead">La acción de procrastinar significa diferir o aplazar. En el caso de la productividad laboral
            hablamos de dejar para después tareas que son importantes y/o urgentes, reemplazándolas por actividades que
            en ese momento pudieran ser mucho menos importantes o placenteras: limpiar la casa, descansar, ver una
            película, etc.
            Cuando la procrastinación es muy constante, tu autoestima puede verse afectada. Pero más que un reflejo de
            tu capacidad profesional o personal para hacer las cosas importantes, es una llamada de atención a la manera
            en la que gestionas el tiempo y das prioridad a tus tareas.
            “Este hábito, de acuerdo con un experto en Psicología Clínica, esconde en la persona perfeccionismo, miedo
            al
            fracaso,
            falta de control de impulsos, incluso cansancio. Ya que no solo están conscientes de que evaden una tarea o
            actividad,
            también saben que es una mala idea y aún así, lo posponen.”
          </p>
        </div>
        <div class="col-md-5">
          <img src="{% static '\img\a.jpg' %}"
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
            height="500">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">En esta aplicación podrás organizarte de mejor manera tu día a
            día, <span class="text-muted">comenzando con hábitos positivos como:</span></h2>
          <p class="lead">- Definir una hora de dormir y despertar
            - Tomar una cantidad de litros de agua al día
            - Ejercios diarios
            - Tener horas de estudios y tips para estos</p>
        </div>
        <div class="col-md-5">
          <img src="{% static '\img\salud.jpg' %}"
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
            height="500">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">¡Mira nuestros tips para organizar de mejor manera tus habitos,
            <span class="text-muted">No dejes para mañana lo que puedes hacer hoy!</span>
          </h2>
        </div>
        <div class="col-md-5">
          <img src="{% static '\img\tips.jpg' %}"
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
            height="500">
        </div>
      </div>

      <!-- FOOTER -->

      <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
      {% endblock content %}
  </main>
</body>

</html>