{% extends "base.html" %}
{% load static %}

{% block title %} Login {% endblock %}
<html lang="en">

{% block content %}

<body>
    <div class="container text-center align-items-center">
        <main class="form-signin ">
            <form>
                <img src="{% static '\img\Logo_.png' %}" alt="My image" alt="" width="35" height="35">
                <h1 class="h3 mb-3 fw-normal">Por favor Ingrese</h1>

                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Contraseña</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Recordar
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
            </form>
        </main>
    </div>
</body>
{% endblock content %}

</html>